.card {
  height: 100%;
  transition: transform 0.5s;
  cursor: pointer;
}

.image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card:hover {
  transform: scale(1.05);
}
